<mat-form-field class="search" appearance="outline" >
  <input
    matInput
    ngModel
    name="search"
    type="text"
    (keyup)="applyFilter($event)"
    placeholder="Search by id"
  />
  </mat-form-field>
  <ngx-ui-loader></ngx-ui-loader>
<mat-grid-list *ngIf="!search" cols="3" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile class="example-card" *ngFor="let element of getCards ">
    <mat-card class="card" (click)="onClick(element.id)">
      <mat-card-header style="box-shadow: none;">
        <div mat-card-avatar class="example-header-image" style="box-shadow: none;">
          <img style="box-shadow: none;" src="{{element.avatar}}" alt="">
        </div>
        <mat-card-title style="box-shadow: none;">{{element.first_name+" "}}{{ element.last_name}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator *ngIf="!search" style="margin-right: 37px;" #paginator [pageSizeOptions]="[6]"
    [length]="total"
    (page)="onPaginationChange($event)" [showFirstLastButtons]="true">
</mat-paginator>
 
<mat-grid-list *ngIf="search" cols="2" rowHeight="300px" >
  <mat-grid-tile class="example-card">
    <mat-card class="card" (click)="onClick(getCardDataByID.id)">
      <mat-card-header style="box-shadow: none;">
        <div mat-card-avatar class="example-header-image" style="box-shadow: none;">
          <img style="box-shadow: none;" src="{{getCardDataByID.avatar}}" alt="">
        </div>
        <mat-card-title style="box-shadow: none;">{{getCardDataByID.first_name+" "}}{{ getCardDataByID.last_name}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

