        .example-card{
            margin: 0px;
            padding: 0px;
            display: flex;
            max-width: 500px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
            transition: transform 0.2s ease-in-out;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0);
            .card{
                height: 163px;
                width: 400px;
            }
            .example-header-image{
                width: 50%;
                img{
                    border-radius: 3px;
                }
            }
            :hover{
                cursor: pointer;
                transform: scale(1.03);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }
        } 
    
       
.search{
    margin-left: 50px;
    margin-top: 0px;
}