<ngx-ui-loader></ngx-ui-loader> 
<div class="container">
  <div  class="btn1">
    <button  mat-raised-button routerLink="/cards" color="primary">
      Back</button>
  </div>
      <div class="contCard"></div>
  <mat-card class="example-card" @cardAnimation>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src={{getCardDataByID.avatar}} alt="">
      </div>
      <mat-card-title>
        {{getCardDataByID.first_name+" "}}{{getCardDataByID.last_name}}
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{getCardDataByID.email}}</p>
        <p>ID : {{getCardDataByID.id}}</p>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

  