.container{
    margin: auto;
    
        .btn1{
            position: absolute;
            top: 10px;
            left: 10px;
            transition: transform 0.3s ease-out;
            :hover{
                cursor: pointer;
                transform: scale(1.03);
            }
        }
    
    .example-card{
        margin: auto;
        margin-top: 20%;
        padding: 0;
        height: 150px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        
    }
    .example-header-image{
        width: 50%;
        img{
            position: absolute;
            left: 11px;
            top: 11px;
            margin: 0;
            padding: 0;
            border-radius: 3px;
        }
    }
   
}